// 색상 변수
$primary-color: #4880ee;
$red: #e84118;
$gray: #dadada;
$light-gray: #f2f4f6;
$white: #ffffff;
$black: #222;

$text-primary: #353c49;
$text-secondary: #6d7582;
$text-subtitle: #8d94a0;

$header-height: 80px;
